@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height: 1.2; vertical-align: middle; }

body { background: #999999; }
body:hover main {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

main {
    display: block;
    position: relative;
    width: 30rem;
    margin: 3vh auto;
    padding: 1.5rem 0 0;
    background: #d5d5d5;
    border-radius: .25rem;
    overflow: hidden;
    transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -webkit-transform: scale(.75);
    -o-transform: scale(.75);
    transform-origin: center 3rem;
    -moz-transform-origin: center 3rem;
    -ms-transform-origin: center 3rem;
    -webkit-transform-origin: center 3rem;
    -o-transform-origin: center 3rem;
    transition: transform .3s;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
}

p {
    color: #FF0000;
    margin: -1.1rem 3rem 0rem;
}

div {
    word-wrap: break-word;
    text-align: left;
}
div#form {
    display: inline-block;
    text-align: center;
    margin: auto 0;
}

input, textarea, select, card {
    position: relative;
    z-index: 2;
}
input, textarea, select {
    display: block;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border: 0;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 3px #aaa;
    transition: .5s, margin-bottom .15s;
    -moz-transition: .5s, margin-bottom .15s;
    -webkit-transition: .5s, margin-bottom .15s;
    -o-transition: .5s, margin-bottom .15s;
    overflow: auto;
}
input[type=submit], select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
textarea#chat {
    margin: 0rem;
    width: 35rem;
}

.card {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    -webkit-box-shadow: 0 1px 2px #aaa;
    background: white;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto 1.5rem;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#message.card, #chat.card, #head.card, #error.card, #user.card{
    float: none;
    min-width: 30rem;
    width: 50%;
}
#message.card, #user.card {
    width: 40%;
}
#chat.card {
    min-width: 40rem;
}

h1, h2 {
    margin-top: 0rem;
    margin-bottom: .5rem;
    border: 0 solid #efefef; 
    border-bottom-width: 1px;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
}
h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}